@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


body {
  min-width: 100vw;
  min-height: 100vh;
  background-color: #070417;
}

#root {
  margin: 0 auto;
  max-width: 80%;
  min-height: inherit;
}